/* 
    Created on : 5.3.2014, 20:21:52
    Author     : R
*/

#dashboard{ 
    width: 800px; 
    margin-left: auto; 
    margin-right: auto; 
}
#dashboard table{
    border-collapse: collapse;
    
}
#dashboard table tr{
    border-bottom: thin solid lightgray;   
   
}
#dashboard table td{
     padding: 6px 3px 6px 3px;
}
.center{
    vertical-align: middle; 
}
.right{
    text-align: right; 
}
.name{
    /*font-size: 12px;*/ font-weight: bold;
}
.picture{
    height: auto;
    width: auto;
    float: left;
    margin: 0px 3px 0px 3px;
}
.picture img{
    height: 48px;
    width: 48px;
}
.vline{
    width: 10px;
    height: 48px;
    float: left;
    
}
.borderRL{
    border-left: thin solid lightgray;
    border-right: thin solid lightgray;
}
