.change_up{
    color: green;
}

.change_down{
    color: red;
}

body{
    width: 936px;
    margin: auto;
}

#maintab th{
    height: 50px;
    vertical-align: middle;
    padding: 0px 10px 0px 10px;
}

.color_mark{
    width: 10px;
    height: 50px;
}

#maintab img{
    margin: 10px;
    display: block;
    width: 50px;
    height: 50px;
}

#maintab th p:hover{
    /*text-decoration: underline;*/
    font-weight: bold;
    cursor: pointer;
}

.right{
    text-align: right;
}

h1{
    font-size: 30pt;
    margin: 5px;
}

h3{
    font-size: 15pt;
    margin: 5px;
}

button{
    margin: 5px;
}

table{
    margin: 5px;
    border-collapse: collapse;
}

td{
    vertical-align: middle;
    padding-right: 10px;
}

tr{
    border: solid;
    border-width: 1px 0;
}

.td_tight{
    width: 10px;
}



#maintab th{
    text-decoration: underline;
}